<h1 class="animated fadeIn mb-3">Systematic disease associated network detection and visualisation</h1>
<h5 class="animated fadeIn mb-3">This application uses the <a href="https://github.com/raphael-group/hotnet2">HotNet2</a> insulated heat diffusion algorithm to extract disease protein networks based on disease-gene association scores from the <a href="https://targetvalidation.org">Open Targets</a> platform.</h5>

<div style="text-align:center">
  <img src="assets/disease_network.png" alt="subnetwork"/>
</div>

<h5 class="animated fadeIn text-muted">Search for an <a href="https://www.ebi.ac.uk/efo/">EFO</a> code or disease name above to get started, or view one of the conditions with pre-calculated modules below:</h5>
<p class="animated fadeIn text-muted">
<a class="internal" [routerLink]="['/disease/EFO_0000249']">Alzheimers</a>
<a class="internal" [routerLink]="['/disease/EFO_0002508']">Parkinsons</a>
<a class="internal" [routerLink]="['/disease/EFO_0005772']">Neurodegenerative Disease</a>
<a class="internal" [routerLink]="['/disease/EFO_0003843']">Pain</a>
<a class="internal" [routerLink]="['/disease/EFO_0005762']">Neuropathic Pain</a>
<a class="internal" [routerLink]="['/disease/EFO_0000274']">Atopic Dermatitis</a>
<a class="internal" [routerLink]="['/disease/EFO_0000676']">Psoriasis</a>
<br>
<a class="internal" [routerLink]="['/disease/EFO_0004208']">Vitiligo</a>
<a class="internal" [routerLink]="['/disease/EFO_1000760']">Rosacea</a>
<a class="internal" [routerLink]="['/disease/EFO_0003894']">Acne</a>
<a class="internal" [routerLink]="['/disease/EFO_0000685']">Rheumatoid Arthritis</a>
<a class="internal" [routerLink]="['/disease/EFO_0002506']">Osteoarthritis</a>
<a class="internal" [routerLink]="['/disease/EFO_0000384']">Crohns</a>
<a class="internal" [routerLink]="['/disease/EFO_0000729']">Ulcerative Colitis</a>
<a class="internal" [routerLink]="['/disease/EFO_0003767']">IBD</a>
<br>
<a class="internal" [routerLink]="['/disease/EFO_0000717']">Scleroderma</a>
<a class="internal" [routerLink]="['/disease/EFO_0002690']">Systemic Lupus Erythematosus</a>
<a class="internal" [routerLink]="['/disease/EFO_0003834']">Cutaneous Lupus</a>
<a class="internal" [routerLink]="['/disease/EFO_0005761']">Lupus Nephritis</a>
<a class="internal" [routerLink]="['/disease/EFO_0001060']">Celiac Disease</a>
<br>
<a class="internal" [routerLink]="['/disease/EFO_1000653']">Sarcopenia</a>
<a class="internal" [routerLink]="['/disease/EFO_0000401']">Diabetic Kidney Nephropathy</a>
<a class="internal" [routerLink]="['/disease/EFO_1001496']">Polycystic Kidney Disease</a>
<a class="internal" [routerLink]="['/disease/EFO_1001249']">NASH</a>
<a class="internal" [routerLink]="['/disease/EFO_0000373']">CHF</a>
<a class="internal" [routerLink]="['/disease/EFO_0000341']">COPD</a>
<a class="internal" [routerLink]="['/disease/EFO_0000270']">Asthma</a>
</p>
