span.matrix-legend-background {
    display: block;
    width: 20px;
    height: 20px;
}
.matrix-legend-layout-h span {
        float:left;
}
span.matrix-legend-from {
        padding-right: 5px;
        padding-top: 2px
}
span.matrix-legend-to {
        padding-left: 5px;
        padding-top: 2px
}

