.indigo {
  color: white;
}

.badge-success {
  background-color: #00c581;
}
.badge-info {
  background-color: #33b5e5;
}
.badge-warning {
  background-color: #fb3;
  color: white;
}
.badge-danger {
  background-color: #ff3547;
}
