<h3 class="animated fadeIn mb-3">Static pages and sources:</h3>
<h5 class="animated fadeIn mb-3">Open Targets information</h5>
<p class="animated fadeIn text-muted">Diseases are described by EFO codes.  Rare diseases on OT use Orphanet codes; these can also be used.</p>
<h5 class="animated fadeIn mb-3">Network source + information - STRING, OmniPath</h5>
<p class="animated fadeIn text-muted">Networks have been filtered to remove low confidence edges, then the largest connected component extracted.</p>
<h5 class="animated fadeIn mb-3">Algorithm information - HotNet2</h5>
<p class="animated fadeIn text-muted">All subnetworks are extracted using the HotNet2 algorithm.  A beta-value is calculated for each source network on setup, and delta-values are automatically selected as part of the subnetwork detection process.</p>
